<h2>Add a New Student</h2>
<%= simple_form_for @student do |f| %>
  <%= f.input :school_id %>
  <%= f.input :first_name %>
  <%= f.input :second_name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.button :submit, "Save", class: "btn btn-primary" %>
<% end %>
