<div class="row">
  <div class="col-6 border">
    <h2>Add a New Book</h2>
    <%= simple_form_for @book do |f| %>
      <%= f.input :title %>
      <%= f.input :author_id, collection: @authors, include_blank: true  %>
      <br>
      <p>Or create a new author:</p>
      <%= f.input :new_author_first_name %>
      <%= f.input :new_author_second_name %>
      <%= f.button :submit, "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-6 border">
    <h2>Checked out books</h2>
    <% Loan.includes(:student, :book).each do |loan|%>
      <div class="border mb-2">
        <div class="row">
          <%= loan.student.name%>
        </div>
        <div class="row">
          <div class="col-6">
            <%= loan.book.title %>
          </div>
          <div class="col-6">
            <%= loan.date_due %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
