<div class="row">
  <div class="col-6 border">
    <h2>Check out a book</h2>
    <%= simple_form_for (@loan) do |f| %>
      <%= f.label :book_id, "Book:" %>
      <%= f.collection_select :book_id, @books, :id, :title, required: true, include_blank: "No books available" %>
      <%= f.label :student_id, "Student:" %>
      <%= f.collection_select :student_id, @students, :id, :name, required: true %>
      <div class="row">
        <div class="date-range-selector col-6">
          <%= f.label :date_borrowed, "Checkout:" %>
          <%= f.date_field :date_borrowed, required: true, value: Date.today %>
        </div>
        <div class="date-range-selector col-6">
          <%= f.label :date_due, "Due date:" %>
          <%= f.date_field :date_due, required: true, value: (Date.today + 7.days) %>
        </div>
      </div>
      <% if @books.empty? %>
        <button class="btn disabled"> Loan </button>
      <% else %>
        <%= f.button :submit, "Loan", class: "btn btn-primary"%>
      <% end %>
    <% end %>
  </div>
  <div class="col-6 border">
    <%= render "shared/checkedout" %>
  </div>
</div>
